extends layout

block content
      //  Intro 
      section.intro
        header
          h1 Coinbase Price & Volume Report
          p
            | Report of currency prices and trading volume in the last 24 hours on 
            a(href='https://prime.coinbase.com') Coinbase Prime
            |  using the 
            a(href='https://twitter.com/usefulcoinllc') @usefulcoinllc
            |  account.
          ul.actions
            li
              a.arrow.scrolly(href='#productvolumes')
                span.label Next
        .content
          span.image.fill(data-position='center')
            img(src='images/liquidity.jpg', alt='liquidity')
      //  Section 
      section#productvolumes
        header
          h3 Product Volumes
        .content
          p
            | Coinbase Prime 
            strong currency pair volume
            |  report ordered by Coinbase quote currency.
          h5#currencypairvolumes Currency Pair Volumes
          .table-wrapper
            table.sortable
              thead
                tr
                  th Product
                  th.sorttable_numeric Daily 
                  th.sorttable_numeric Average
                  th.sorttable_numeric Monthly
              tbody#productvolumestablebody
          ul.actions
            li
              a.button.primary.large.scrolly(href='#productprices')
                span.label Product Prices
            li
              a.button.large.scrolly(href='#productsummary')
                span.label Product Summary
      //  Section 
      section#productprices
        header
          h3 Product Prices
        .content
          p
            | Coinbase Prime 
            strong currency price
            |  report that includes daily trading range as a percentage of price. 
            |  It also includes bid/ask spreads as a percentage of the present ask price.
          h5#currencyprices Currency Prices
          .table-wrapper
            table.sortable
              thead
                tr
                  th.sorttable_numeric Price
                  th Product
                  th.sorttable_numeric Range
                  th.sorttable_numeric Spread
              tbody#currencypricestablebody
          ul.actions
            li
              a.button.primary.large.scrolly(href='#productsummary')
                span.label Product Summary
            li
              a.button.large.scrolly(href='#productvolumes')
                span.label Product Volumes
      //  Section 
      section#productsummary
        header
          h3 Product Summary
        .content
          p
            | Coinbase Prime 
            strong product volume summary
            |  denominated in US dollars.
          h4 Summary
          .table-wrapper
            table.alt
              thead
                tr
                  th Product
                  th Relative Volume
                  th Absolute Volume
              tbody#summarytablebody
              tfoot
                tr
                  td(colspan='2')
                  td#totalvolume
          h4 Regenerate Summary
          p
            | Regenerate the Coinbase Prime 
            strong product volume summary
            | .
          form(method='post', action='javascript:void(0);')
            .fields
              .field
                label(for='restapiserver') REST API Server
                select#restapiserver(name='restapiserver')
                  option(value='https://api.prime.coinbase.com', selected) Production
                  option(value='https://api-public.sandbox.prime.coinbase.com') Sandbox
              .field
                label(for='quotecurrency') Quote Currency
                select#quotecurrency(name='quotecurrency')
                  option(value='USD', selected) USD
                  option(value='USDC') USDC
                  option(value='BTC') BTC
              .field.half
                input#orderlow(type='radio', name='liquidityorder')
                label(for='orderlow') Lowest Volume First
              .field.half
                input#orderhigh(type='radio', name='liquidityorder', checked)
                label(for='orderhigh') Highest Volume First
          ul.actions
            li
              a.button.primary.large.scrolly(href='#productvolumes')
                span.label Product Volumes
            li
              a.button.large.scrolly(href='#productprices')
                span.label Product Prices

block scripts
    script(src='javascripts/products.js')
    script(src='javascripts/ticks.js')
    script(src='javascripts/sorttable.js')
