extends layout

block content
      //  Intro 
      section.intro
        header
          h1 Volume Report
          p
            | Report of the trading volume in the last 24 hours on 
            a(href='https://prime.coinbase.com') Coinbase Prime
            |  using the 
            a(href='https://twitter.com/usefulcoinllc') @usefulcoinllc
            |  account.
          ul.actions
            li
              a.arrow.scrolly(href='#product-id-list')
                span.label Next
        .content
          span.image.fill(data-position='center')
            img(src='images/liquidity.jpg', alt='liquidity')
      //  Section 
      section#product-id-list
        header
          h3 Product List
        .content
          p
            | Coinbase Prime 
            strong currency pairs
            |  listed by Coinbase Product ID.
          h5#currencypairs Currency Pairs
          ul.alt#productidlist
      //  Section 
      section#product-summary
        header
          h3 Product Summary
        .content
          p
            | Coinbase Prime 
            strong product volume summary
            |  denominated in US dollars.
          h4 Summary
          .table-wrapper
            table.alt
              thead
                tr
                  th Product
                  th Relative Volume
                  th Absolute Volume
              tbody#summarytablebody
              tfoot
                tr
                  td(colspan='2')
                  td#total-volume
          h4 Regenerate Summary
          p
            | Regenerate the Coinbase Prime 
            strong product volume summary
            | .
          form(method='post', action='javascript:void(0);')
            .fields
              .field
                label(for='rest-api-server') REST API Server
                select#rest-api-server(name='rest-api-server')
                  option(value='https://api.prime.coinbase.com', selected) Production
                  option(value='https://api-public.sandbox.prime.coinbase.com') Sandbox
              .field
                label(for='quote-currency') Quote Currency
                select#quote-currency(name='quote-currency')
                  option(value='USD', selected) USD
                  option(value='USDC') USDC
                  option(value='BTC') BTC
              .field.half
                input#order-low(type='radio', name='liquidity-order')
                label(for='order-low') Lowest Volume First
              .field.half
                input#order-high(type='radio', name='liquidity-order', checked)
                label(for='order-high') Highest Volume First
            ul.actions
              li
                input.primary(type='submit', value='Submit')
              li
                input(type='reset', value='Reset')

block scripts
    script(src='javascripts/products.js')
    script(src='javascripts/ticks.js')
