doctype html
html
  head
    title Coinbase 24 Hour Volume Report
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    meta(name='description', content)
    meta(name='keywords', content)
    link(rel='stylesheet', href='stylesheets/main.css')
  body.is-preload
    //  Wrapper 
    #wrapper
      //  Intro 
      section.intro
        header
          h1 Volume Report
          p
            | Report of the trading volume in the last 24 hours on 
            a(href='https://prime.coinbase.com') Coinbase Prime
            |  using the 
            a(href='https://twitter.com/usefulcoinllc') @usefulcoinllc
            |  account.
          ul.actions
            li
              a.arrow.scrolly(href='#product-summary')
                span.label Next
        .content
          span.image.fill(data-position='center')
            img(src='images/liquidity.jpg', alt='liquidity')
      //  Section 
      section#product-summary
        header
          h3 Product Summary
        .content
          p
            | Coinbase Prime 
            strong product volume summary
            |  denominated in US dollars sourced from the Coinbase Prime websocket server.
          h4 Summary
          .table-wrapper
            table.alt
              thead
                tr
                  th Product
                  th Volume
                  th Ask Price
              tbody
                tr
                  td#productid
                  td#productvolume
                  td#productaskprice
                tr
                  td Item Five
                  td Ante turpis integer aliquet porttitor.
                  td 29.99
              tfoot
                tr
                  td(colspan='2')
                  td 100.00
          span.image.main
            img(src='images/one-hundred-dollars.jpg', alt='one-hundred-dollars')
          h4 Regenerate Summary
          p
            | Regenerate the Coinbase Prime 
            strong product volume summary
            | .
          form(method='post', action='#')
            .fields
              .field
                label(for='rest-api-server') REST API Server
                select#rest-api-server(name='rest-api-server')
                  option(value='https://api.prime.coinbase.com', selected) Production
                  option(value='https://api-public.sandbox.prime.coinbase.com') Sandbox
              .field.half
                input#order-low(type='radio', name='liquidity-order')
                label(for='order-low') Lowest Volume First
              .field.half
                input#order-high(type='radio', name='liquidity-order', checked)
                label(for='order-high') Highest Volume First
            ul.actions
              li
                input.primary(type='submit', value='Submit')
              li
                input(type='reset', value='Reset')
      //  Copyright 
      .copyright
        | © Useful Coin LLC. All rights reserved. Design: 
        a(href='https://html5up.net') HTML5 UP
        | .
    //  Scripts 
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.scrolly.min.js')
    script(src='javascripts/browser.min.js')
    script(src='javascripts/breakpoints.min.js')
    script(src='javascripts/util.js')
    script(src='javascripts/main.js')
    script(src='javascripts/ticks.js')
